{% load static %}

<div class="pb-3">
    <div class="need-border row">
        <div class="d-flex flex-column">
            <div>
                <img src="{% static q.profile.avatar %}" alt="avatar" style="height:55px">
            </div>
            <div class="text-muted font-weight-light mb-auto" style="line-height: 97%; font-size: 15px; margin-top: 10px;">
                <p style="margin-bottom: 0">0 votes</p>
                <p style="margin-bottom: 0">0 answers</p>
            </div>
        </div>
        <div class="col d-flex flex-column">
            <h2 style="display: inline-block"><a href="{% url 'question' q.pk %}"
                                                 style="text-decoration: none;">{{ q.title }}</a></h2>
            <h6>{{ q.text }}</h6>
            <div class="">
                <a href="{% url 'question' q.pk %}" style="display: inline-block">answer
                    ({{ q.number_of_answers }})</a>
                <div style="display: inline-block" class="pl-2">
                    <h5 style="display: inline-block"><b>Tags: </b></h5>
                    {% for t in q.tags.all %}
                        <a href="{% url 'tag' t %}">{{ t }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>