{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-8 col-lg-9">
    <div class="pb-3">
        <h2 style="display: inline-block"><b>New question</b></h2>
    </div>
    <div>
        <form class="p-3" action="/ask/" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label for="{{ form.title.id_for_label }}" class="col-sm-2 col-form-label"><h5>Title</h5></label>
                <div class="col-sm-10">
                    {{ form.title }}
                </div>
            </div>
            <div class="form-group row">
                <label for="{{ form.text.id_for_label }}" class="col-sm-2 col-form-label"><h5>Text</h5></label>
                <div class="col-sm-10">
{#                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>#}
                    {{ form.text }}
                </div>
            </div>
            <div class="form-group row">
                <label for="{{ form.tags.id_for_label }}" class="col-sm-2 col-form-label"><h5>Tags</h5></label>
                <div class="col-sm-10">
                    {{ form.tags }}
                </div>
            </div>
            <div class="pb-3 row">
                <div class="col-sm-10 offset-sm-2 text-left" style="padding-left: 20px">
                    <button class="button_ask" type="submit">
                        <img src="{% static 'icons/ask.png' %}" alt="Фолбэк" style="width: 70px;">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
